<ion-view view-title="Policy">
  <ion-content>
    <h1 class="padding">{{policy.title}}</h1>

    <div class="card">
      <div
        style="white-space: normal;"
        class="item item-divider">
        What is '{{policy.title}}' all about?
      </div>
      <div class="item item-text-wrap">
        {{policy.description}}
      </div>
    </div>

    <div class="card">
      <div
        style="white-space: normal;"
        class="item item-divider">
        @Twitter
      </div>
      <div class="item item-text-wrap">
        <div ng-repeat-start="tweet in tweets"></div>

        <blockquote><p>{{tweet.text}}</p>
        — {{tweet.name}} (@{{tweet.handle}}) {{ tweet.date | amDateFormat:'MMM YYYY' }}</a></blockquote>

        <div ng-repeat-end></div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Ongoing projects
      </div>
      <a
        ng-repeat="experiment in experiments"
        href="#/tab/experiment/{{experiment.uuid}}" class="item item-icon-right">
        <i class="icon ion-chevron-right"></i>
        {{experiment.title}}<br /><strong>{{experiment.location}}</strong>
      </a>
      <div class="item" ng-hide="experiments.length">None</div>

    </div>
  </ion-content>
</ion-view>
