<ion-view view-title="Home">
  <ion-content>
    <div class="list card">
      <a href="#/tab/experiment/{{featured.uuid}}">
        <div class="featured item item-image">
          <img src="{{featured.photo_url}}">
          <div class="words">
              <h2>{{featured.title}}</h2>
              <div class="summary-bg">
                <p>{{featured.summary}} <span class="link">Learn More &gt;</span></p>
              </div>
          </div>
        </div>
      </a>
    </div>

    <div class="list card">
      <h3 class="item">Learn about other projects</h3>
      <a
        ng-repeat="policy in policies"
        href="#/tab/policy/{{policy.uuid}}"
        class="item item-icon-left">
        <i class="icon ion-ios-paper-outline"></i>
        {{policy.title}}
      </a>
    </div>
  </ion-content>
</ion-view>
