<ion-view view-title="{{issue.title}}">
  <ion-content class="padding">
    <label class="item item-input item-select">
      <div class="input-label">
        <i class="ion-flag"> Campaigns</i>
      </div>
      <select>
        <option>Near Me</option>
        <option selected>All</option>
      </select>
    </label>
    <div
      ng-click="go('tab/campaigns/{{campaign.id}}')"
      ng-repeat="campaign in issue.campaigns"
      class="item">
      <img
        ng-src="{{campaign.photo}}"
        style="float:left;"
        width=100 />
      &nbsp;<i class="ion-flag"> {{campaign.title}}</i><br />
      &nbsp;<i class="ion-location"> {{campaign.place.title}}</i>
    </div>
  </ion-content>
</ion-view>
